*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right, rgb(76, 171, 200), rgb(210, 244, 243));
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container{
    height: 55%;
    width: 20%;
    min-width: 320px;
    max-width: 90%;
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 1rem #212121;
    background-color: #ffffff4f;
    backdrop-filter: blur(6px);
    /* margin: 0 auto;
    position: relative;
    top: 20%;  /*in place of flex it can be use */
    z-index: 3;
}

.header h1{
    font-size: 2.2rem;
    color: #212121;
}
.header p{
    font-size: 0.8rem;
    color: #555;
}

.main{
    margin: 1.2rem 0rem;
}
.main section{
    margin: 1.2rem 0;
}
.main section label{
    display: block;
    font-size: 0.9rem;
    font-weight: 680;
}
.main section input{
    font-size: 0.9rem;
    border: 1px solid #ccc;
    padding: 0.4rem;
    /* outline: none; */
    width: 100%;
    height: 1.5rem;
    border-radius: 0.3rem;
}
button{
    height: 2rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: rgb(24, 120, 210);
    border: none;
    color: white;
}

.footer p{
    text-align: center;
    font-size: 0.84rem;
}
a{
    color: rgb(57, 102, 216);
    text-decoration: none;
    font-weight: 650;
}

button:hover{
    background-color: rgb(9, 95, 175);
}
a:hover{
    color: rgb(0, 44, 155);
}
.circle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top left, white, rgba(255, 255, 255, 0.23));
}

.c1{
    top: 10%;
    left: 7%;
}
.c2{
    bottom: 10%;
    right: 7%;
}